
<div *ngFor="let progressInfo of progressInfos" class="mb-2">
  <span>{{ progressInfo.fileName }}</span>
  <div class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progressInfo.percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progressInfo.percentage + '%' }"
    >
      {{ progressInfo.percentage }}%
    </div>
  </div>
</div>

<div>
  <label>Select File Type</label>&nbsp;
  <select [(ngModel)]="selected" name="fileType" placeholder="select">
    <option *ngFor="let sta of fileTypeArr" [ngValue]="sta.Value" >{{sta.id}}</option>
</select>

</div>
<label class="btn btn-default">
  <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
</label>

<button
  class="btn btn-success"
  [disabled]="!selectedFiles"
  (click)="uploadFiles()"
>
  Upload
</button>

<div class="alert alert-light" role="alert" style="color: red;">{{ message }}</div>

<!-- <div class="card">
  <div class="card-header">List of Images</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of fileInfos | async"
  >
    <li class="list-group-item">
      <p><a href="{{ file.url }}">{{ file.name }}</a></p>
      <img src="{{ file.url }}" alt="{{ file.name }}" height="80px">
    </li>
  </ul>
</div> -->
<div class="card" *ngIf="responseObj">
  <div style="background-color:cadetblue;" class="card-header"><b>Extracted Data</b></div>
  <!-- responseObj-{{responseObj.result}}
  <br>
  {{responseObj.result.aadharNumber}} -->
  <ul
    class="list-group list-group-flush"
    *ngFor="let item of responseObj.result | keyvalue"
  >
    <li class="list-group-item" style="background-color: {{!item.value ? '#fbc2c2' : ''}};">
      <span><b>{{ getProperKeyName(item.key) }}:&nbsp;</b></span>
      <span>{{ item.value }}</span>
    </li>
  </ul>
</div>
<br>
<div class="card" *ngIf="responseObj && responseObj.recognizedTextArr">
  <div style="background-color:cadetblue;" class="card-header"><b>Recognized Data By OCR</b></div>
  {{responseObj.recognizedTextArr}}
  <ul
    class="list-group list-group-flush"
    *ngFor="let item of responseObj.recognizedTextArr"
  >
    <li class="list-group-item">
      <span>
          {{ item }}
      </span>
    </li>
  </ul>
</div>
